  /*Breadcrumbs*/
.elementor-widget-the7-breadcrumb .breadcrumbs {
  margin: 0; 
  white-space: nowrap;
}
.elementor-widget-the7-breadcrumb .breadcrumbs li {
    padding-left: 0;
    margin-left: 0; 
    max-width: 100%;
    text-overflow: ellipsis;
    overflow: hidden;
}
.elementor-widget-the7-breadcrumb .breadcrumbs li:before {
    position: relative;
    width: auto;
    height: auto;
    margin: 0 5px;
}
